<!DOCTYPE html>
<html lang="en" ng-app="planoPlanApp">
<head>
    <meta charset="UTF-8">
    <title>Course List</title>
    <script src="../Libraries/angular.js"></script>
    <link href="../Libraries/bootstrap.css" rel="stylesheet"/>
    <link href="../Libraries/bootstrap-theme.css" rel="stylesheet"/>
</head>
<body>
<script src="../Libraries/model.js"></script>
<script src="../Libraries/controller.js"></script>
<div class="container" ng-controller="RoomListCtrl">
    <div class="page-header">
        <div class="page-header">
            <h1>
                Планировщик комнаты.
            </h1>
            <h3>Комната:{{data.room.name}} {{data.room.width}}x{{data.room.height}}. Количество мебели -
                {{data.things.length}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="input-group">
                <span class="input-group-addon">Название:</span>
                <input ng-model="text" type="text" class="form-control" placeholder="name" aria-describedby="sizing-addon1">
            </div>
        </div>
        <div class="col-xs-2">
            <div class="input-group">
                <span class="input-group-addon">Ширина:</span>
                <input type="text" class="form-control" placeholder="width" aria-describedby="sizing-addon1">
            </div>
        </div>
        <div class="col-xs-2">
            <div class="input-group">
                <span class="input-group-addon">Длина:</span>
                <input type="text" class="form-control " placeholder="height" aria-describedby="sizing-addon1">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="input-group">
                <span class="input-group-addon">Цвет:</span>
                <input type="text" class="form-control" placeholder="color" aria-describedby="sizing-addon1">
            </div>
        </div>
        <span class="input-group-btn">
            <button class="btn btn-default" ng-click="click()">Добавить</button>
        </span>
    </div>
<div class="col-md-4">
    <table class="table table-hover ">
        <thead>
        <tr >
            <th class="col-s-2">№</th>
            <th class="col-s-1">Имя</th>
            <th class="col-s-1">Ширина*Высота</th>
        </tr>
        </thead>
        <tbody class="col-s-3">
        <tr ng-repeat="thing in data.things">
            <td class="col-s-3">
                {{$index}}
            </td>
            <td class="col-s-3">
                {{thing.name}}
            </td>
            <td class="col-s-1">
                <input class="col-xs-5" type="text" placeholder="{{thing.width}}">
                <input class="col-xs-5" type="text" placeholder="{{thing.heightL}}">
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>